# Data Science Tolls and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives__
* Popular languages used by data scientists
* Commonly used libraries by data scientists
* Development environment open source tools
* Evaluating arithmetic expressions in python

Some of the popular languages that Data Scientists use are:
1. Python
2. R Language
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Seaborn
5. Tensorflow
6. Scipy
7. Keras

| Data Science Tools |
| ------------------ |
| R studio |
| Jupyter Notebook |
| Jupyter lab |
| Apache Zepplin |
| spyder |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This is sample arithmetic expression to multiply and add integers. Expected output for the expression is 20
(4*4)+4

20

In [2]:
# Below expression will convert 200 minutes to hours by dividing by 60.
200/60

3.3333333333333335

## Author
Praveen